:root{
	--cat_height0 : 0vw;
	--cat_height1 : 0vw;
	--cat_height2 : 0vw;
}

body{
    font-family: Arial, sans-serif;
    background-color: #FDFCE8;
	position: relative;
	top : 125px;
	width : auto;
}

/*
	Header -> Add new Step
*/

header {
	position : fixed ;
	left : 0;
	top : 0;
	width : 100%;
	z-index: 2;
	background: #97E47E;
}

.addform {
	position : relative;
	margin : 30px 30px;
	display: flex;
  	justify-content: space-between;
}

input[type=text] {
    background : #FFFFFF;
    padding: 0 30px;
	margin-right: 30px;
	width : 100%;
	border-radius : 30px;
	border: none;
	font-size: 30pt;
}

input[type=submit] {
	border: none;
	width : 85px;
	height : 67px;
    cursor: pointer;
	padding : 0;
	background: rgba(0, 0, 0, 0) url(../svg/button_add_task.svg) no-repeat;
}

/*
	The prompts to be displayed after a week
*/

.prompt_container{
	position : relative;
	margin : 30px 20px;
	padding : 10px 10px;
	background-color: #FDD975;
	border-radius: 30px;
	overflow: clip;
}

.prompt_container .addform {
	margin : 0 20px 0 0;
}

.prompt-title{
	font-size: 30pt;
	text-align: center;
	color : white;
	font-weight: bold;
	padding: 0 0 10px 0;
}

/*
	General settings for items to be displayed
*/

.item-element{
	position : relative;
	background-color: #FFFFFF;
	padding : 10px 30px;
	border-radius: 20px;
	display: flex;
  	justify-content: space-between;
}

.item-form input{
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(0,0,0,0);
	width : 50px;
	height : 50px;
	margin-left: 10px;
	background-repeat: no-repeat;
}

.item-form input[value = Extend]{
	background-image: url("../svg/button_extend.svg");
}

.item-form input[value = Finish], input[value = Continue], input[value=Complete]{
	background-image: url("../svg/button_complete.svg");
}

.item-form input[value=Commit]{
	background-image: url("../svg/button_commit.svg");
}

.item-form input[value=Uncomplete]{
	background-image: url("../svg/button_redo.svg");
}

.item-form input[value="Edit"] {
	position: absolute;
	width: calc(100vw - 240px);
	height: 100%;
	top : 0;
  	left : 20px;
	background-image: unset;
}


/*
	Special settings for the committed table
*/

#commit_table{
	position : relative;
	width: auto;
	left : 0;
	top : 0;
	margin: 30px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 30pt;
	text-align: center;
	display: flex;
	justify-content: space-between;
}


#commit_table .item-form{
	width : 100%;
}

#commit_table input[value = Complete]{
	background-image: url("../svg/button_complete_cat.svg");
	margin-left: 0;
}

#commit_table input[value = Edit]{
	position: absolute;
	left : 0;
	top : 0;
	margin: 0;
	height : 10vw;
	width : 100%;
}

.committed{
	position : relative ;
	text-align: center;
	display : flex;
	flex-direction: column;
	justify-content: space-between;
}

#rope{
	position : relative;
	width : 26vw;
	height : 69.33vw;
	background-color: rgba(0,0,0,0);
	border: none;
	background-image : url(../svg/main_rope.svg);
	background-repeat: no-repeat;
}

#comm_name{
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height : 8vw;
	width: calc(100% - 20px);
	margin: 10px 10px;
	flex : unset;
}

.cat{
	position : absolute;
	width : 6vw;
	height : 14vw;
	left : 10vw;
	z-index: 1;
	background-color: rgba(0,0,0,0);
	border: none;
	background-image : url(../svg/cat.svg);
	background-repeat: no-repeat;
}

#cat0{
	top : calc(55vw - var(--cat_height0));
}
#cat1{
	top : calc(55vw - var(--cat_height1));
}
#cat2{
	top : calc(55vw - var(--cat_height2));
}

table.list{
	border-spacing: 20px;
	width: 100%;
}

.list_head{
	background-color : #FDD975;
	border-radius : 30px;
	font-size: 30pt;
	color : white;
	text-align: center;
	font-weight: bold;
}

.list .item-element{
	background : #FFFFFF;
	border-style : Solid;
	border-color : #FDD975;
	border-width : 10px;
	border-radius : 30px;
}

.item{
	position: relative;
	font-size: 30pt;
	padding : 0 0;
	margin : 0 0;
	overflow: clip;
}

#todo_table{
	position : relative ;
	top : 0;
}


#completed_table{
	position: relative;
	top : 0;
}



#block{
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 150px;
	z-index: 1;
	background-color: #FDFCE8;
}

#delete{
	position: absolute;
	top : 25px;
	right : 25px;
	z-index: 2;
	background-image: url("../svg/button_delete_red.svg");
	margin : 0;
}

#home{
	position: absolute;
	top : 25px;
	left : 25px;
	z-index: 2;
	background-image: url("../svg/button_home.svg");
	margin : 0;
}


#item-info{
	position : fixed;
	top : 100px;
	left : 0;
	width : 100%;
	background-repeat: no-repeat;
	z-index: 2;
}

.item-description{
	background : #E5F595;
    padding: 30px 30px;
	margin : 0 30px;
	position : fixed ;
	width: calc(100% - 120px);
	border-radius: 60px;
	box-shadow: 0 10px #C0ED8D;
}

#item-info input[type=text]{
	background-color: rgba(0,0,0,0);
    font-size: 45pt;
	font-weight: bold;
	border: none;
	text-align: center;
	overflow: clip;
	width : 100%;
	padding: 0 0;
	margin : 0 0;
}

#edit_rope{
	position : fixed;
	left : 100px;
	top : 230px;
	background-repeat: no-repeat;
	width : 200px;
	height: calc(100vh - 300px);
	background-image: url("../svg/edit_rope.svg");
	z-index: 1;
}

#step-grid{
	position: relative;
	top : 150px;
	left : 30vw;
	width : 70vw;
}

#steptable{
	width : calc(100% - 20px);
}

footer{
position : fixed;
	left : 0;
	bottom : 0;
	width : 100%;
	z-index: 2;
    background: #FDD975;
}

.item-form input[value="Remove"]{
	background-image: url("../svg/button_delete.svg");
}
