<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <title>To Do List</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>

  <script>
    var url = "{{url_for('check_achievement')}}";
    var gourl = "{{url_for('achievement')}}";
    setInterval(() => {
      fetch(url)
              .then(response => {
                if (response.ok) {
                  location.href = gourl;
                } else {
                  //nothing
                }
              })
              .catch(error => {
                console.log("Error: " + error);
              });
    }, 1000);
  </script>

</html>
