{% extends "base.html" %}

{% block content %}

<div id="block">
  <div class="item-form">
    <form method="POST">
      <input type="submit" id="delete" class="neg" name="{{ item.id }}" value="Delete">
      <input type="submit" id="home" class="neutral" name="{{ item.id }}" value="Return">
    </form>
  </div>
</div>

<div id="edit_rope">
</div>


<div id="item-info">

    <div class="item-description">
      <form action="{{ url_for('edit_item_submit', item_id=item.id) }}" class="editform" method="POST">
        {{ edit_item.hidden_tag() }}
        {{ edit_item.name() }}
      </form>
    </div>

  </div>

<div class="lists-grid-container" id="step-grid">
    {% if steps[0] %}
    <table id="steptable" class="list">
        <tr>
          <td class="list_head">Steps</td>
        </tr>

        {% for step in steps %}
        <tr class="item-container">
            <td class="item-element">
                <div class="item">
                    {{ step.name }}
                </div>
                <div class="item-form">
                    <form method="POST">
                        {% if step.complete == False %}
                        <input type="submit" class="pos" name="{{step.id}}" value="Complete">
                        {% elif step.complete == True %}
                        <input type="submit" class="neg" name="{{step.id}}" value="Uncomplete">
                        {% endif %}
                        <input type="submit" class="neg" name="{{step.id}}" value="Remove">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<footer>
    <div id="step_bar">
        <form action="{{ url_for('add_step_submit', item_id=item.id) }}" class="addform" method="POST">
            {{ add_step.hidden_tag() }}
            {{ add_step.name() }}
            {{ add_step.submit() }}
        </form>
    </div>
</footer>


{% endblock %}
