{% extends "lists.html" %}

{% block prompt %}

<div class="prompt_container">
        <div id = time class="prompt-title">
            Time's up!
        </div>
        <div class = "item-element">
          <div id=prompt_name class="item">
              <div>
                  {% if step_list[item['committed_id']] == None %}
                    {{item['name']}}
                  {% else %}
                    {{step_list[item['committed_id']]['name']}}
                  {% endif %}
              </div>
          </div>
          <div class="item-form">
            <form method="POST">
              <input type="submit" class="pos" name="{{item.id}}" value="Finish">

              <input type="submit" class="negative" name="{{item.id}}" value="Extend">
            </form>
          </div>
        </div>

</div>
 {% endblock %}
