{% extends "lists.html" %}

{% block prompt %}

<div class="prompt_container">

        <div class = "item-container">
            <div id = time>
                Continue project or extend?
            </div>
          <div id=prompt_name class="item">
              <div>
                {{item['name']}}
              </div>
          </div>

          <div class="item-form">
            <form method="POST">
              <input type="submit" class="pos" name="{{item.id}}" value="Continue">

              <input type="submit" class="negative" name="{{item.id}}" value="Extend">
            </form>
          </div>
        </div>

</div>
 {% endblock %}
