{% extends "base.html" %}

{% block content %}

<div class="lists-grid-container">


  <form action = "{{url_for('add_item_submit')}}" class="addform"  method="POST" >
    {{ add_item.hidden_tag() }}
    <table>
      <tbody>
        <tr>
          <td>{{add_item.name.label}}</td>
          <td>{{add_item.name()}}</td>
        </tr>
        <tr>
          <td>{{add_item.submit()}}</td>
        </tr>
      </tbody>
    </table>
  </form>

    <h4> Prompt </h4>
        <tr class = "item-container">
          <td class="item">
              <p style = "float:left;">
                {{item['name']}}
              </p>
          </td>
            <form action = "{{url_for('add_step_submit_prompt', item_id = item.id)}}" class="addform"  method="POST" >
          <h4> Add Steps </h4>
          {{ add_step.hidden_tag() }}
          <table>
            <tbody>
              <tr>
                <td>{{add_step.name.label}}</td>
                <td>{{add_step.name()}}</td>

              </tr>
              <tr>
                <td>{{add_step.submit()}}</td>
              </tr>
            </tbody>
          </table>
        </form>
        </tr>

    <h4> Committed Tasks </h4>

  <table id= commit_table>
    <tbody>
        {% for item in committed_items %}
        <tr class = "{% if category == 'timed' %}timed-item-container{% else %}item-container{% endif %}">
          <td class="item">
              <p style = "float:left;">
                {{item['name']}}
              </p>
          </td>

            <td class="countdown">
                <!-- insert countdown widget here for testing -->
                <p id="countdown{{item.id}}">...</p>

                  <script>
                      // Set the date we're counting down to
                      var countDownDate{{item.id}} = new Date("{{item.due_time}}").getTime();

                      // Update the count down every 1 second
                      var x{{item.id}} = setInterval(function() {

                        // Get today's date and time
                        var now{{item.id}} = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance{{item.id}} = countDownDate{{item.id}} - now{{item.id}};

                        // Time calculations for days, hours, minutes and seconds
                        var days{{item.id}} = Math.floor(distance{{item.id}} / (1000 * 60 * 60 * 24));
                        var hours{{item.id}} = Math.floor((distance{{item.id}} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes{{item.id}} = Math.floor((distance{{item.id}} % (1000 * 60 * 60)) / (1000 * 60));

                        // Display the result in the element with id="demo"
                        document.getElementById("countdown{{item.id}}").innerHTML = days{{item.id}} + "d " +
                                                                                    hours{{item.id}} + "h " +
                                                                                    minutes{{item.id}} + "m ";

                        // If the count down is finished, write some text
                        if (distance{{item.id}} < 0) {
                            clearInterval(x{{item.id}});
                            document.getElementById("countdown{{item.id}}").innerHTML = "OVERDUE";
                        }
                      }, 1000);
                  </script>
            </td>

          <td class="item-form">
            <form method="POST">
              <input type="submit" class="pos" name="{{item.id}}" value="Complete">

              <input type="submit" class="neutral" name="{{item.id}}" value="Edit">
            </form>

          </td>
        </tr>

        {% endfor %}
    </tbody>
  </table>

    <h4> ToDo Tasks </h4>

  <table id= todo_table>
    <tbody>
        {% for item in todo_items %}
        <tr class = "item-container">
          <td class="item">
              <p style = "float:left;">
                {{item['name']}}
              </p>
          </td>

          <td class="item-form">
            <form method="POST">
              <input type="submit" class="pos" name="{{item.id}}" value="Complete">

              <input type="submit" class="neutral" name="{{item.id}}" value="Edit">

              <input type="submit" class="neutral" name="{{item.id}}" value="Commit">
            </form>
          </td>
        </tr>

        {% endfor %}
    </tbody>
  </table>

    <h4> Done Tasks </h4>

  <table id= completed_table>
  <tbody>
      {% for item in completed_items %}
      <tr class = "item-container">
        <td class="item">
            <p style = "float:left;">
              {{item['name']}}
            </p>
        </td>

        <td class="item-form">
          <form method="POST">
            <input type="submit" class="negative" name="{{item.id}}" value="Uncomplete">

            <input type="submit" class="neutral" name="{{item.id}}" value="Edit">

            <input type="submit" class="neutral" name="{{item.id}}" value="Commit">
          </form>
        </td>
      </tr>

      {% endfor %}
  </tbody>
</table>



</div>
 {% endblock %}
